body {
    margin: 0px;
}

.box {
    display: block;
    height: 100vw;
    width: 100vw;
    background-color: lightgrey;
    overflow: hidden;
}

#qr-reader,
video {
    display: absolute !important;
    width: 100vw;
}

.accordion {
    z-index: 999;
}