body {
    margin: 0px;
}

.box {
    display: block;

    width: 100vw;
    background-color: lightgrey;
}

#qr-reader,
video {
    display: block;
    width: 100vw;

    z-index: 1;
}

.accordion {
    z-index: 999;
}